/*
Copyright (c) 2023, Caleb Heydon
All rights reserved.
*/

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.light-theme {
    background-color: white;
}

.dark-theme {
    background-color: rgb(25, 25, 25);
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
}

p {
    margin: 20px;
    line-height: 150%;
}

p b {
    font-weight: bold;
}

p a {
    font-weight: bold;
}

.light-theme h1,
.light-theme h2,
.light-theme h3 {
    color: rgb(50, 50, 50);
}

.light-theme h4,
.light-theme h5,
.light-theme h6,
.light-theme p,
.light-theme a {
    color: rgb(75, 75, 75);
}

.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
    color: rgb(225, 225, 225);
}

.dark-theme h4,
.dark-theme h5,
.dark-theme h6,
.dark-theme p,
.dark-theme a {
    color: rgb(200, 200, 200);
}

.header {
    width: 100%;
    height: 60px;
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0px;
    z-index: 1;
}

.header ul a li {
    height: 20px;
    display: inline-block;
    font-size: 20px;
    color: white;
    padding: 20px;
    line-height: 100%;
}

.li-left {
    float: left;
}

.li-right {
    float: right;
}

.header .li-selected {
    background-color: rgb(75, 75, 75);
}

.header li:hover {
    background-color: rgb(100, 100, 100);
}

.list li {
    margin-left: 40px;
}

.list p {
    margin: 10px;
}

.light-theme .list li {
    color: rgb(75, 75, 75)
}

.dark-theme .list li {
    color: rgb(200, 200, 200)
}

.index-container {
    width: 100%;
    margin-top: 60px;
    float: left;
}

.content-container {
    width: calc(60% - 40px);
    float: left;
    padding: 20px;
}

.preview-container {
    width: 100%;
    display: inline-block;
    border-radius: 10px;
}

.light-theme .preview-container {
    background-color: rgb(205, 205, 205);
}

.light-theme .preview-container:hover {
    background-color: rgba(155, 155, 155);
}

.dark-theme .preview-container {
    background-color: rgb(50, 50, 50);
}

.dark-theme .preview-container:hover {
    background-color: rgb(75, 75, 75);
}

.preview-container img {
    float: left;
    width: calc(20% - 20px);
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

.preview-container .preview-text-container {
    float: left;
    width: 80%;
}

.preview-container .preview-text-container p {
    margin: 10px;
}

.preview-container .preview-text-container h2,
.preview-container .preview-text-container p {
    overflow-wrap: break-word;
}

.info-container {
    width: 40%;
    float: left;
}

.info-container p {
    margin: 10px;
}

.project-container {
    width: 70%;
    margin: auto;
    position: relative;
    margin-top: 80px;
}

.project-container h1,
.project-container h2 {
    text-align: center;
}

.project-container .image-container {
    height: 50vh;
    text-align: center;
}

.project-container .image-container img {
    width: auto;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

pre code {
    width: auto;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
}

.projects-container {
    width: 70%;
    margin: auto;
    position: relative;
    margin-top: 80px;
}

.footer {
    display: inline-block;
    width: 100%;
    height: 60px;
}

.footer p {
    text-align: center;
}