/*
Copyright (c) 2022, Caleb Heydon
All rights reserved.
*/

.video-container {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-weight: normal;
    text-decoration: none;
    width: 100%;
    min-width: 500px;
    display: block;
}

.video-container video {
    width: 100%;
    height: auto;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    background: radial-gradient(black, rgb(25, 25, 25))
}

.video-controls {
    width: 100%;
    height: 44px;
    position: absolute;
    bottom: 4px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    transition: all 0.1s linear;
    opacity: 1.0;
    user-select: none;
}

.video-controls.hidden {
    opacity: 0;
}

.video-controls p {
    color: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
}

.video-controls-button {
    width: 40px;
    height: 40px;
    position: relative;
    top: 4px;
    opacity: 0.85;
}

.video-controls-button:hover {
    opacity: 1.0;
}

.video-controls-button-left {
    float: left;
}

.video-controls-button-right {
    float: right;
}

.video-controls-slider {
    float: left;
    width: 40px;
    height: 4px;
    -webkit-appearance: none;
    appearance: none;
    border-width: 0px;
    border-radius: 2px;
    background-color: white;
    opacity: 0.85;
    position: relative;
    left: 10px;
    top: 22px;
    outline: none;
}

.video-controls-slider:hover {
    opacity: 1.0;
}

.video-controls-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-width: 0px;
    border-radius: 6px;
    background-color: white;
}

.video-controls-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-width: 0px;
    border-radius: 6px;
    background-color: white;
}

.video-controls-label {
    margin: 0px;
    float: right;
    font-size: 16px;
    position: relative;
    right: 10px;
    top: 16px;
    color: white;
    opacity: 0.85;
}

.video-bar-container {
    width: 100%;
    height: 4px;
    position: relative;
    top: -2px;
}

.video-bar-container:hover {
    height: 8px;
    top: -4px;
}

.video-controls-background-bar {
    width: 100%;
    height: 100%;
    background-color: rgb(100, 100, 100);
    border-width: 0px;
    border-radius: 2px;
}

.video-bar-container:hover .video-controls-background-bar {
    border-radius: 4px;
}

.video-controls-buffer-bar {
    height: 100%;
    background-color: rgb(175, 175, 175);
    border-width: 0px;
    border-radius: 2px;
    position: relative;
    top: -4px;
}

.video-bar-container:hover .video-controls-buffer-bar {
    border-radius: 4px;
    top: -8px;
}

.video-controls-progress-bar {
    height: 100%;
    background-color: white;
    border-width: 0px;
    border-radius: 2px;
    position: relative;
    top: -8px;
}

.video-bar-container:hover .video-controls-progress-bar {
    border-radius: 4px;
    top: -16px;
}