<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/favicon.png">
    <title>Caleb Heydon</title>
</head>

<body class="{{ theme }}">
    <script src="/theme.js"></script>
    {% block content %}{% endblock %}
    <div class="footer">
        {% if copyright %}
        <p>Copyright (c) 2023, Caleb Heydon</p>
        {% else %}
        <a href="https://creativecommons.org/publicdomain/zero/1.0" target="_blank">
            <p>All content on this webpage is released under CC0-1.0</p>
        </a>
        {% endif %}
    </div>
</body>

</html>