{% extends "base.html" %} {% block content %}
<div class="header">
    <ul>
        <a href="/">
            <li class="li-left">Caleb Heydon</li>
        </a>
        <a href="/projects">
            <li class="li-left">Projects</li>
        </a>
    </ul>
</div>
<div class="index-container">
    <div class="content-container">
        <a href="/p/making-a-simple-linux-distro">
            <div class="preview-container">
                <img src="/making-a-simple-linux-distro/preview.png">
                <div class="preview-text-container">
                    <h2>Making a Simple Linux Distro</h2>
                    <p>A very simple Linux distro only has a few components. For mine, I decided to use Musl libc and
                        BusyBox for simplicity.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="info-container">
        <p>I'm a senior at the University of Connecticut studying Mechanical Engineering and Computer Science and
            Engineering.</p>
        <ul class="list">
            <a href="https://gitlab.com/cheydon" target="_blank">
                <li>
                    <p>GitLab</p>
                </li>
            </a>
            <a href="https://github.com/CalebHeydon" target="_blank">
                <li>
                    <p>GitHub</p>
                </li>
            </a>
            <a href="https://uconnpl.weebly.com" target="_blank">
                <li>
                    <p>Propulsive Landing Project</p>
                </li>
            </a>
        </ul>
	<p>You can email me <a href="mailto:caleb@caleb.engineer" target="_blank">here</a>.</p>
    </div>
</div>
{% endblock %}
