{% extends "project.html" %} {% block project_content %}
<div class="image-container"><img src="/making-a-simple-linux-distro/title.png"></div>
<p>A very simple Linux distro only has a few components. For mine, I decided to use Musl libc and BusyBox for
    simplicity. The libc contains utility functions and interfaces with the kernel, and BusyBox is a program that is
    contains all of the basic utilities we will need for a simple operating system. I began by creating some build
    scripts: a main script and one for each component. The kernel, Musl, and BusyBox all need to be built in the proper
    order without any dependence on the host system. This last part is important because none of the host system's
    libaries will be available in our new distro. After each component is built, we'll need to install it to a rootfs
    directory that we have prepared with all of the necessary configuration files. This is so that we can create a
    bootable ISO for our distro.</p>
<p>After a significant amount of work, I was able to make something that boots. I was even able to setup networking:</p>
<div class="image-container"><img src="/making-a-simple-linux-distro/network.png"></div>
<p>If you want to try building it yourself, <a href="https://gitlab.com/cheydon/EchoOS" target="_blank">here</a> are the
    scripts.</p>
{% endblock %}