{% extends "base.html" %} {% block content %}
<div class="header">
    <ul>
        <a href="/">
            <li class="li-left">Caleb Heydon</li>
        </a>
        <a href="/projects">
            <li class="li-left">Projects</li>
        </a>
    </ul>
</div>
<div class="project-container">
    <h1>{{ project_title }}</h1>
    {% block project_content %}{% endblock %}
</div>
{% endblock %}