{% extends "base.html" %} {% block content %}
<div class="header">
    <ul>
        <a href="/">
            <li class="li-left">Caleb Heydon</li>
        </a>
        <a href="/projects">
            <li class="li-left li-selected">Projects</li>
        </a>
    </ul>
</div>
<div class="projects-container">
    <a href="/p/making-a-simple-linux-distro">
        <div class="preview-container">
            <img src="/making-a-simple-linux-distro/preview.png">
            <div class="preview-text-container">
                <h2>Making a Simple Linux Distro</h2>
                <h5><i>7/21/2023</i></h5>
                <p>A very simple Linux distro only has a few components. For mine, I decided to use Musl libc and BusyBox for simplicity.</p>
            </div>
        </div>
    </a>
</div>
{% endblock %}