{% extends "project.html" %} {% block project_content %}
<div id="video-container"></div>

<link rel="stylesheet" href="/videoplayer.css">
<script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
<script src="/videoplayer.js"></script>
<script>
    videoPlayer("/v/{{ video }}", document.getElementById("video-container"), true);
</script>
{% endblock %}